# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# Resultados temporales
*.png
*.gif
*.csv
!resultados/graficas/*.png
!resultados/animaciones/*.gif
!reporteLatex/*.png

# LaTeX
*.aux
*.log
*.out
*.toc
*.pdf
*.bbl
*.blg
*.synctex.gz
!reporteLatex/ReporteModelo.pdf
# OS
.DS_Store
Thumbs.db